/vendor/
/.phpunit.cache/
composer.lock


#-------------------------
# Node.js
#-------------------------
ui/node_modules/
ui/dist/

#-------------------------
# IDE / Development Files
#-------------------------

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Visual Studio Code
.vscode/
